<form action="/channel/{{ post.channel }}/post/{{ post._id }}/comment" class="card card-body" method="POST">
  <label for="input-content">Add a Comment</label>
  <textarea name="content" id="input-content" rows="5" placeholder="Your comment here..."></textarea>

  <button>Submit Comment</button>
</form>