/* #82a1ab */
/* #597b99 */
/* #5489b8 */
/* #264c6e */

@font-face {
  font-family: 'Gordita';
  src: url('Gordita\ Regular.woff');
}

@font-face {
  font-family: 'Gordita Bold';
  src: url('Gordita\ Bold.woff');
}

:focus {
  outline: none !important;
}

body {
  font-family: 'Gordita';
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

h1 {
  margin-bottom: 35px;
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

input {
  border: none;
  border-bottom: 2px solid;
}

a {
  font-family: 'Gordita Bold';
  color: #597b99;
}

a:hover {
  text-decoration: none;
}

.breadcrumb span {
  margin: 2.5px 5px;
}

.col-8 {
  padding-left: 0;
}

.list-all-channels li {
  list-style: none;
  margin: 10px 0;
}

.seperator {
  margin: 0 5px;
}

.edit-post-form {
  margin-bottom: 50px;
}

textarea {
  padding: 10px !important;
}

.margin {
  margin-bottom: 40px;
}

.extra-margin {
  margin-bottom: 60px;
}

.margin input {
  margin-left: 20px;
}

.dropdown {
  margin-right: 15px;
}

button {
  font-family: 'Gordita Bold';
  background-color: #5489b8;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 45px;
  padding: 0px 25px;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s ease-in-out;
  white-space: nowrap;
}

.fa-edit {
  font-size: 1.3em;
}

.block {
  max-width: 48%;
}

.delete {
  margin: 0 !important;
  min-width: 45px;
  max-width: 45px;
  float: right;
  background-color: #264c6e;
  color: white;
}

.feed {
  width: 60%;
  margin-right: 5em;
}

.feed .card {
  margin: 25px 0;
}

.feed .card h5 {
  margin-bottom: 1em;
}

.aside {
  min-width: 30%;
  margin-top: 30px;
}

.comment-item {
  position: relative;
}

.commentX {
  padding: 10px 15px 5px;
  border: 2px solid;
}

.comment-item form {
  max-width: fit-content;
  position: absolute;
  right: 0;
  top: 5px;
}

.comment-form {
  margin-bottom: 50px;
}

.comment-form label {
  margin-bottom: 1.5em;
}

.comment-form h5 {
  margin-bottom: 20px;
}

.single-post {
  position: relative;
}

.create-post {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 0;
}

.relative {
  position: relative;
}

.create-channel div {
  margin-top: 25px;
}

.post-delete {
  font-family: 'Gordita Bold';
  background-color: #264c6e;
  color: white;
  line-height: 43px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 0px 25px;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s ease-in-out;
  white-space: nowrap;
  max-width: fit-content;
  position: absolute;
  right: 150px;
  border: 2px solid;
  top: 0;
}

.edit-button {
  position: absolute;
  right: 0;
  top: 0;
}

.single-post p {
  margin: 50px 0;
}

.aside h3 {
  margin-bottom: 40px;
}

.aside ul {
  list-style: none;
  padding-left: 0;
}

.aside ul li {
  margin: 10px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.todoFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit {
  margin: 0 !important;
  min-width: 45px;
  max-width: 45px;
  float: right;
  padding: 7px 10px 5px;
  border: 2px solid;
  position: absolute;
  top: 16px;
  right: 70px;
}

.container {
  position: relative;
  padding: 0;
}

.container form {
  position: absolute;
  top: 15px;
  right: 15px;
}

.notesContainer {
  display: flex;
  justify-content: space-between;
}

.dashboard {
  margin-right: 20px;
}

.notesContainer a {
  margin-top: 0.5rem;
}

/* .notesContainer form {
  min-width: 45%;
} */

.navbar {
  padding: 20px 0;
}

.intro {
  text-align: center;
  margin: 100px 0;
}

.intro h2 {
  margin-bottom: 40px;
}

.card-body {
  padding: 2em;
  margin: 25px 0;
}

.card-body h3 {
  margin-bottom: 20px;
}

.card-body button {
  margin-top: 20px;
}

.btn-block {
  border: 2px solid;
  padding: 10px 0 5px;
}

.overflow p {
  line-height: 28px;
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.editDelete {
  background-color: #264c6e;
  color: white;
  padding: 10px 0 7.5px;
}

.post {
  color: #5489b8;
}

.post h5 {
  margin-bottom: 1em;
}

.post p {
  font-family: 'Gordita';
  font-size: 0.9em;
  line-height: 28px;
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post:hover {
  color: #5489b8;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@media (max-width: 980px) {
  .block {
    max-width: 100%;
  }
}
