<h1>Create a New Post</h1>

<form method="POST">
  <div class="margin">
    <label for="input-title">Post Title:</label>
    <input type="text" name="title" id="input-title" placeholder="Input Title" maxlength="80" style="min-width: 600px;"/>
  </div>
  
  <label for="input-content">Post Content:</label>
  <div class="margin">
    <textarea name="content" id="input-content" placeholder="Write Post Content Here..." rows="10" class="col-8" maxlength="500"></textarea>
  </div>
  <div class="extra-margin">
    <button>Create Post</button>
  </div>
</form>