<h1 class="mt-5">Create a New Channel</h1>

<form method="POST" class="create-channel">
  <label for="input-name">Channel Name:</label>
  <input type="text" name="name" id="input-name" placeholder="Channel Name">
  <div>
    <button>Create Channel</button>
  </div>
</form>