<main class="list-all-channels">
  <div class="breadcrumb mb-5">
    <span><a href="/channel">Feed</a></span>
    <span>></span>
    <span>All Channels</span>
  </div>

  <h1> Find here all of the channels </h1>

  <form action="/channel/allchannels/search" method="post" class="searchbar mb-5">
    <input type="text" name="channelsearch" placeholder="Search"/>
    <button>Search</button>
  </form>

  {{#each allChannels}}
    <li></li><a href="/channel/{{ _id }}">{{ name }}</a></li>
  {{/each}}
</main>