<h2>Hi {{user.name}} - this is your Dashboard</h2>
<h6>Find all your recent activity and general settings for your account</h6>

<div class="flex pt-5">
  <div class="recentTodos card card-body half">
  <h4>Recent todos</h4>
</div>

<div class="recentNotes card card-body half">
  <h4>Recent notes</h4>
</div>
</div>

{{!-- Recent todos and notes shown here --}}
{{!-- Have general settings here so you can see your name and email  --}}